{% load static %}
<article class="bg-white relative rounded-lg border border-gray-200 hover:shadow-lg transition-shadow duration-300 overflow-hidden">
  <!-- Thumbnail -->
  <div class="h-40 bg-gray-100 relative overflow-hidden flex items-center justify-center">

    <!-- Category Badge -->
    <div class="absolute top-3 left-3 z-10">
      <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-s font-medium bg-[#537FB9] text-white">
        {{ ticket.category }}
      </span>
    </div>

    {% if ticket.stock < 10 and ticket.stock > 0 %}
      <div class="absolute top-2 right-2 bg-red-500 text-white text-xs font-bold px-2 py-1 rounded z-10">
        Few Left!
      </div>
    {% endif %}
    
    <div class="relative group">
      {% if ticket.category == 'VIP' %}
        <div class="flex items-center justify-center absolute w-full h-full bg-white top-0 z-30 opacity-0 transition duration-150 hover:opacity-50 hover:cursor-pointer">
          <a href="{% url 'order:create' ticket.id %}" class="flex items-center justify-center w-full h-full">
            <p class="font-bold text-9xl text-transparent bg-clip-text bg-black ">
              VIP
            </p>
          </a>
        </div>
      {% else %}
        <div class="flex items-center justify-center absolute w-full h-full bg-white top-0 z-30 opacity-0 transition duration-150 hover:opacity-50 hover:cursor-pointer">
          <a href="{% url 'order:create' ticket.id %}" class="flex items-center justify-center w-full h-full">  
            <p class="font-bold text-9xl text-transparent bg-clip-text bg-black ">
              REG
            </p>
          </a>
        </div>
      {% endif %}

      {% if ticket.event.category == 'badminton' %}
        {% if ticket.category == 'VIP' %}
          <img src="{% static 'image/VIP_badminton.png' %}" class="relative z-0 group-hover:z-20">
        {% else %}
          <img src="{% static 'image/REG_badminton.png' %}" class="relative bottom-[120px] z-0 group-hover:z-20">
        {% endif %}
      {% elif ticket.event.category == 'football' %}
        {% if ticket.category == 'VIP' %}
          <img src="{% static 'image/VIP_football.png' %}">
        {% else %}
          <img src="{% static 'image/REG_football.png' %}">
        {% endif %}
      {% elif ticket.event.category == 'basketball' %}
        {% if ticket.category == 'VIP' %}
          <img src="{% static 'image/VIP_basketball.png' %}">
        {% else %}
          <img src="{% static 'image/REG_basketball.png' %}">
        {% endif %}
      {% elif ticket.event.category == 'volleyball' %}
        {% if ticket.category == 'VIP' %}
          <img src="{% static 'image/VIP_volleyball.png' %}">
        {% else %}
          <img src="{% static 'image/REG_volleyball.png' %}">
        {% endif %}
      {% elif ticket.event.category == 'tennis' %}
        {% if ticket.category == 'VIP' %}
          <img src="{% static 'image/VIP_tennis.png' %}">
        {% else %}
          <img src="{% static 'image/REG_tennis.png' %}">
        {% endif %}
      {% endif %}

    </div>
  </div>

  <!-- Content -->
  <div class="p-3">
    <h3 class="text-3xl font-semibold text-gray-900 mb-3 line-clamp-2 leading-tight">
      <p>
        <span>$</span>{{ ticket.price }}
      </p>
    </h3>

    <p class="text-gray-600 text-sm leading-relaxed line-clamp-3 mb-4">
      {% if ticket.stock > 0 %}
        only {{ ticket.stock }} 
        {% if ticket.stock > 1 %}
          tickets left!
        {% else %}
          ticket left!
        {% endif %}
      {% endif %}
    </p>

    <!-- Action Buttons -->
    <!-- UBAH UNTUK CEK ADMIN/USER -->
      <div class="flex flex-col items-end pt-4 border-t border-gray-100">
        <div class="flex space-x-2">
          {% if user.is_superuser %}
            <button onclick="openEditTicketModal('{{ ticket.id }}', '{{ ticket.event.match_id }}')" 
                    class="text-gray-600 hover:text-gray-700 text-sm transition-colors z-40">
              Edit
            </button>
            <button onclick="deleteTicket('{{ ticket.id }}')" 
                    class="text-red-600 hover:text-red-700 text-sm transition-colors z-40">
              Delete
            </button>
          {% else %}
            <a href="{% url 'order:create' ticket.id %}" 
               class="inline-flex items-center px-3 py-1 bg-[#537fb9] text-white rounded-md text-sm hover:bg-[#3b5998] transition-colors">
              Buy Ticket
            </a>
          {% endif %}
        </div>
      </div>
  </div>
  {% if ticket.stock < 1 %}
    <div class="absolute inset-0 bg-white opacity-50 z-30"></div>
    <img src="{% static 'image/sold-out.png' %}" class="absolute inset-0 m-auto z-30 w-full">
  {% endif %}
</article>